<div class="container">
  <h1 class="mx-auto my-5">Editing sector</h1>
  <hr>

<%= render "form", sector: @sector %>

<br>
<div class="btn-group my-5">
  <button class="btn-warning">
  <%= link_to "More", @sector %>
  </button>
  <button class="btn">
  <%= link_to "Back", sectors_path %>
  </button>
</div>
</div>
